* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  padding: 0;
  color: #000;
  font-family: "Inter", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  letter-spacing: 0em;
  overflow-x: hidden;
}

body,
.toggle-menu span,
.mob-menu__container,
.cards-container__card {
  background-color: #fff;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

.header,
.main {
  margin: 0 auto;
  max-width: 1440px;
}

.wrapper {
  margin: 0 auto;
  padding: 0 15px;
}

.header__logo,
.toggle-menu,
.img-container,
.menu-mobile ul,
.container,
.content-container,
.figures-container__body,
.cards-container,
.review-cards-container,
.slider-line,
.client-container,
.contacts-form,
.contacts-container,
.social-container,
.social {
  display: flex;
}

.toggle-menu,
.img-container,
.container,
.social-container {
  justify-content: center;
}

.img-container {
  max-width: 100%;
  height: auto;
}

.img-container.container-reorder {
  order: -1;
}

.presentation-img,
.features-img {
  max-width: 570px;
}

.header__logo,
.figures-container__body,
.cards-container {
  gap: 30px;
}

.toggle-menu,
.menu-mobile ul,
.container,
.content-container,
.figures-container__body,
.cards-container {
  flex-direction: column;
}

.toggle-menu {
  gap: 7px;
  top: 30px;
  right: 15px;
  z-index: 10;
  width: 45px;
  height: 45px;
  border-radius: 5px;
  background-color: #cecaca;
}

.toggle-menu,
.toggle-menu span,
.mob-menu__container {
  position: absolute;
}

.toggle-menu span {
  width: 60%;
  max-width: 300px;
  height: 4px;
  border-radius: 2px;
}

.toggle-menu span:nth-child(1),
.toggle-menu span:nth-child(3) {
  transition: transform 300ms ease, width 300ms ease;
}

.toggle-menu span:nth-child(2) {
  transition: width 300ms ease;
}

.toggle-menu span:nth-child(1) {
  top: 8px;
}

.toggle-menu span:nth-child(3) {
  top: 34px;
}

.toggle-menu.active span:nth-child(1),
.toggle-menu.active span:nth-child(3) {
  top: auto;
  width: 90%;
}

.toggle-menu.active span:nth-child(2) {
  width: 0;
}

.toggle-menu.active span:nth-child(1) {
  transform: rotate(135deg);
}

.toggle-menu.active span:nth-child(3) {
  transform: rotate(-135deg);
}

.mob-menu__container {
  top: 0;
  right: 0;
  padding: 25px 0 25px 15px;
  width: 50%;
  opacity: 0;
  transform: scale3d(1, 0, 1);
  transition: opacity 250ms ease-out, top 250ms ease, transform 250ms ease-out;
}

.mob-menu__container.active {
  top: 100px;
  opacity: 0.8;
  transform: scale3d(1, 1, 1);
}

.menu-mobile ul {
  gap: 25px;
}

.menu-mobile ul li a {
  padding: 10px;
}

.client-container,
.social-container {
  gap: 15px;
}

.header__menu {
  display: none;
}

.header__container,
.header__menu,
.header__menu ul,
.contacts-container {
  gap: 60px;
}

.header__container,
.header__menu ul,
.contacts-container,
.slider {
  justify-content: space-between;
}

.header__container {
  padding-top: 15px;
}

.toggle-menu,
.header__container,
.header__logo,
.container,
.content-container,
.cards-container,
.contacts-container,
.social {
  align-items: center;
}

.header__logo img {
  width: 80px;
}

.header__logo span {
  font-size: 24px;
  line-height: 29px;
}

.header__logo span,
.presentation-section__title,
.figures__number,
.card-product__name,
.card-product__price {
  font-weight: 700;
}

.header__menu ul li a {
  display: block;
  font-size: 18px;
  font-weight: 600;
  line-height: 22px;
  transition: color 250ms ease, text-decoration 250ms ease;
}

.header__menu ul li a:hover {
  color: blue;
  text-decoration: underline 2px solid;
}

.header,
.presentation-section,
.details-container,
.options-section,
.section-contact {
  background-color: #ececec;
}

.presentation-section {
  padding: 40px 0;
}

.presentation-section,
.figures-section,
.features-section,
.details-section,
.options-section,
.section-reviews {
  margin-bottom: 60px;
}

.presentation-section__title,
.features-section .img-container,
.figures-container__header,
.presentation-section__text,
.card-product__name,
.card-product__price,
.contacts-form input {
  margin-bottom: 20px;
}

.presentation-section__title {
  font-size: 30px;
  line-height: 36px;
}

.content-container ul li h4,
.column-title {
  font-weight: 500;
  margin-bottom: 10px;
}

.content-container ul li {
  padding-left: 80px;
}

.content-container ul li {
  background: url(../img/marker.png) no-repeat 0 50%;
}

.content-container ul li h4 {
  font-size: 20px;
}

.content-container p,
.link-button,
.button,
.container-features__title p {
  font-weight: 400;
}

.button,
.link-button {
  width: fit-content;
  display: inline-block;
  padding: 13px 35px;
  font-size: inherit;
  border: none;
  border-radius: 20px;
  background: #d9d9d9;
  transition: color 250ms ease, background-color 250ms ease;
}

.button:hover,
.button:focus,
.link-button:hover,
.link-button:focus {
  color: #fff;
  background-color: #4e4e4e;
}

.button:hover,
.link-button:hover,
.btn-next:hover,
.btn-prev:hover,
.social:hover {
  cursor: pointer;
}

.presentation-section__link-button {
  text-align: center;
}

.figures-container,
.container-features,
.details-section,
.section-reviews,
.options-section,
.section-contact {
  text-align: center;
}

.content-container p,
.review-card__text,
.column-value {
  text-align: left;
}

.figures-container__body {
  justify-content: space-evenly;
}

.presentation-section .img-container,
.title-section,
.content-container ul li:not(:last-child),
.details-container .img-container,
.card-product .img-container,
.slider-nav,
.client-container,
.contacts-form textarea {
  margin: 0 0 30px;
}

.title-section {
  font-size: 24px;
  font-weight: 600;
}

.figures__number {
  font-size: 60px;
}

.figures__text {
  font-size: 18px;
  font-weight: 400;
}

.details-container {
  padding: 30px 15px;
  margin: 0 -15px 30px;
  /* margin: 0 -15px 30px; должен кореллировать с .wrapper {padding: 0 15px;} */
}

.options-section,
.section-contact {
  padding: 40px 0;
}

.section-contact {
  padding-bottom: 60px;
}

.cards-container__card {
  width: 100%;
  min-width: 300px;
  padding: 30px;
}

.cards-container__card p {
  font-size: 20px;
}

.review-cards-container {
  overflow: hidden;
}

.review-card {
  margin: 0 0 20px;
  padding: 30px 15px;
  background-color: #cecaca;
}

.client-container {
  justify-content: flex-start;
}

.social {
  justify-content: center;
}

.slider-line {
  gap: 24px;
  transition: transform ease 1s;
}

.review-card__text {
  height: 250px;
  overflow-y: scroll;
}

.btn-next,
.btn-prev {
  padding: 5px 7px;
  background: none;
  border: none;
}

.slider-nav {
  text-align: end;
}

.contacts-form {
  margin-bottom: 60px;
  width: 100%;
}

.contacts-form,
.contacts-container {
  flex-direction: column;
}

.contacts-form label {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.28px;
  margin-bottom: 12px;
}

.contacts-form textarea {
  height: 65px;
}

.contacts-form input,
.contacts-form textarea {
  padding: 15px;
  border-radius: 15px;
  border: 1px solid #000;
}

.button-submit {
  margin: 0 auto;
  color: #fff;
  background-color: #4e4e4e;
}

.contacts-title {
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: 0.44px;
}

.contacts-tbl td {
  padding: 5px 10px 5px 0;
  text-align: left;
}

.column-title {
  text-align: right;
}

.column-value {
  font-weight: 400;
}

.social {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #d9d9d9;
  transition: fill ease 250ms, background-color ease 250ms;
}

.social .icon {
  width: 18px;
  fill: #4e4e4e;
}

.social:hover,
.social:focus {
  background-color: #4e4e4e;
}

.social:hover .icon,
.social:focus .icon {
  fill: #fff;
}

@media screen and (min-width: 768px) {
  .toggle-menu,
  .mob-menu__container {
    display: none;
  }

  .wrapper {
    padding: 0 30px;
  }

  .header__container,
  .header__menu,
  .header__menu ul {
    display: flex;
  }

  .container,
  .figures-container__body {
    flex-direction: row;
  }

  .features-section .container {
    align-items: flex-start;
  }

  .presentation-section .img-container,
  .details-container .img-container {
    margin: 0;
  }

  .content-container {
    align-items: flex-start;
  }

  .presentation-section .content-container,
  .features-section .img-container {
    margin: 0 30px 0 0;
  }

  .details-container .container {
    gap: 30px;
  }

  .details-container {
    padding: 40px;
    justify-content: space-between;
  }

  .detail-img {
    width: 40vw;
  }

  .img-container.container-reorder {
    order: 3;
  }

  .presentation-img,
  .features-img {
    width: 45vw;
    margin-bottom: 0;
  }

  .options-container {
    display: flex;
    flex-direction: column;
  }

  .cards-container {
    justify-content: space-evenly;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }

  .cards-container__card {
    min-width: 300px;
    padding: 30px;
    flex-basis: 45%;
  }

  .slider {
    display: flex;
    flex-wrap: wrap;
  }

  .review-card {
    margin: 0px 0 30px;
    flex-basis: 48%;
  }

  .contacts-wrapper {
    display: flex;
    justify-content: space-between;
  }

  .contacts-container {
    width: 45%;
    align-items: flex-start;
  }

  .contacts-form {
    margin-bottom: 0;
    width: 45%;
  }

  .contacts-form,
  .contacts-container {
    text-align: left;
  }

  .button-submit {
    margin: 0;
  }

  .social-container {
    justify-content: left;
  }
}

@media screen and (min-width: 1024px) {
  .presentation-section .content-container,
  .features-section .img-container {
    margin: 0 40px 0 0;
  }

  .cards-container {
    justify-content: space-between;
    gap: 0;
  }

  .cards-container__card {
    flex-basis: 30%;
  }

  .slider {
    flex-wrap: nowrap;
  }

  .review-card:not(:last-child) {
    margin-right: 24px;
  }

  .contacts-tbl td {
    padding: 15px 30px 15px 0;
  }
}

@media screen and (min-width: 1140px) {
  .wrapper {
    padding: 0 130px;
  }

  .presentation-img,
  .features-img {
    width: 570px;
  }

  .presentation-section {
    padding: 80px 0;
  }

  .presentation-section,
  .figures-section,
  .features-section,
  .details-section,
  .options-section,
  .section-reviews {
    margin-bottom: 80px;
  }

  .title-section {
    font-size: 35px;
  }

  .detail-img {
    width: 387px;
  }

  .presentation-section__title {
    font-size: 64px;
    line-height: 77px;
  }

  .presentation-section__title {
    margin-bottom: 40px;
  }

  .content-container p,
  .button,
  .link-button,
  .container-features__title p {
    font-size: 20px;
    font-weight: 400;
  }

  .figures-container__body {
    justify-content: space-evenly;
  }

  .contacts-title {
    font-size: 22px;
  }
}
